# Praktikum 1
Dataset untuk tugas ini dapat diakses pada

https://drive.google.com/drive/folders/1-424K16bLZgVjPO8eZeunGqIHkqgvHc4?usp=sharing

Import Library

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

Data Tabular

In [ ]:
# /content/drive/MyDrive/Kuliah/Semester 5/Pengenalan Pola/Praktikum 2/age_height.csv
data_tabular = pd.read_csv("/content/drive/MyDrive/Kuliah/Semester 5/Pengenalan Pola/Praktikum 2/age_height.csv")
data_tabular

    age  height gender  class
0    18    76.1      M      0
1    19    77.0      M      1
2    20    78.1      M      0
3    21    78.2      F      0
4    22    78.8      M      1
5    23    79.7      F      1
6    24    79.9      F      1
7    25    81.1      F      1
8    26    81.2      M      1
9    27    81.8      F      0
10   28    82.8      M      0
11   29    83.5      F      1

Data Text

In [ ]:
# /content/drive/MyDrive/Kuliah/Semester 5/Pengenalan Pola/Praktikum 2/text_example.txt
data_text = open("/content/drive/MyDrive/Kuliah/Semester 5/Pengenalan Pola/Praktikum 2/text_example.txt", "r").read()
data_text

'RL from human feedback is our main technique for aligning our deployed language models today. We train a class of models called InstructGPT derived from pretrained language models such as GPT-3. These models are trained to follow human intent: both explicit intent given by an instruction as well as implicit intent such as truthfulness, fairness, and safety.\n\nOur results show that there is a lot of low-hanging fruit on alignment-focused fine-tuning right now: InstructGPT is preferred by humans over a 100x larger pretrained model, while its fine-tuning costs <2% of GPT-3’s pretraining compute and about 20,000 hours of human feedback. We hope that our work inspires others in the industry to increase their investment in alignment of large language models and that it raises the bar on users’ expectations about the safety of deployed models.\n\nOur natural language API is a very useful environment for our alignment research: It provides us with a rich feedback loop about how well our alignment techniques actually work in the real world, grounded in a very diverse set of tasks that our customers are willing to pay money for. On average, our customers already prefer to use InstructGPT over our pretrained models.\n\nYet today’s versions of InstructGPT are quite far from fully aligned: they sometimes fail to follow simple instructions, aren’t always truthful, don’t reliably refuse harmful tasks, and sometimes give biased or toxic responses. Some customers find InstructGPT’s responses significantly less creative than the pretrained models’, something we hadn’t realized from running InstructGPT on publicly available benchmarks. We are also working on developing a more detailed scientific understanding of RL from human feedback and how to improve the quality of human feedback.\n\nAligning our API is much easier than aligning AGI since most tasks on our API aren’t very hard for humans to supervise and our deployed language models aren’t smarter than humans. We don’t expect RL from human feedback to be sufficient to align AGI, but it is a core building block for the scalable alignment proposals that we’re most excited about, and so it’s valuable to perfect this methodology.'

Data Gambar

In [ ]:
# /content/drive/MyDrive/Kuliah/Semester 5/Pengenalan Pola/Praktikum 2/contoh_gambar/cat.0.jpg
data_gambar = plt.imread("/content/drive/MyDrive/Kuliah/Semester 5/Pengenalan Pola/Praktikum 2/contoh_gambar/cat.0.jpg")
data_gambar

array([[[203, 164,  87],
        [203, 164,  87],
        [204, 165,  88],
        ...,
        [240, 201, 122],
        [239, 200, 121],
        [238, 199, 120]],

       [[203, 164,  87],
        [203, 164,  87],
        [204, 165,  88],
        ...,
        [241, 202, 123],
        [240, 201, 122],
        [238, 199, 120]],

       [[203, 164,  87],
        [203, 164,  87],
        [204, 165,  88],
        ...,
        [241, 202, 123],
        [240, 201, 122],
        [239, 200, 121]],

       ...,

       [[153, 122,  55],
        [153, 122,  55],
        [153, 122,  55],
        ...,
        [  2,   2,   0],
        [  2,   2,   0],
        [  2,   2,   0]],

       [[152, 121,  54],
        [152, 121,  54],
        [152, 121,  54],
        ...,
        [  2,   2,   0],
        [  2,   2,   0],
        [  2,   2,   0]],

       [[151, 120,  53],
        [151, 120,  53],
        [151, 120,  53],
        ...,
        [  1,   1,   0],
        [  1,   1,   0],
        [  1,   1,   0]]], dtype=uint8)